<a href="https://colab.research.google.com/github/p-tech/wbs-dm/blob/main/sqlite-exercise/SQLite_DB_DataSet_Answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STEP 1: CREATE the SQLite database;**

We need to import the sqlite3 module and create the database and tables.  You'll see this follows the syntax we have used on previous weeks.

In [1]:
import sqlite3

#This statement creates a connection labelled as conn.  This will be used throughout to ensure the consistency for when we start to query the database tables.
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE olist_customers (
    customer_id VARCHAR(32) PRIMARY KEY,
    customer_unique_id VARCHAR(32),
    customer_zip_code_prefix INT,
    customer_city VARCHAR(255),
    customer_state VARCHAR(2)
);
''')

cursor.execute('''
CREATE TABLE olist_geolocation (
    geolocation_zip_code_prefix INT,
    geolocation_lat FLOAT,
    geolocation_lng FLOAT,
    geolocation_city VARCHAR(255),
    geolocation_state VARCHAR(2)
);
''')

cursor.execute('''
CREATE TABLE olist_order_items (
    order_id VARCHAR(32),
    order_item_id INT,
    product_id VARCHAR(32),
    seller_id VARCHAR(32),
    shipping_limit_date DATETIME,
    price FLOAT,
    freight_value FLOAT,
    PRIMARY KEY (order_id, order_item_id)
);
''')

cursor.execute('''
CREATE TABLE olist_order_payments (
    order_id VARCHAR(32),
    payment_sequential INT,
    payment_type VARCHAR(50),
    payment_installments INT,
    payment_value FLOAT,
    PRIMARY KEY (order_id, payment_sequential)
);
''')

cursor.execute('''
CREATE TABLE olist_order_reviews (
    review_id VARCHAR(32) PRIMARY KEY,
    order_id VARCHAR(32),
    review_score INT,
    review_comment_title TEXT,
    review_comment_message TEXT,
    review_creation_date DATETIME,
    review_answer_timestamp DATETIME
);
''')

cursor.execute('''
CREATE TABLE olist_orders (
    order_id VARCHAR(32) PRIMARY KEY,
    customer_id VARCHAR(32),
    order_status VARCHAR(50),
    order_purchase_timestamp DATETIME,
    order_approved_at DATETIME,
    order_delivered_carrier_date DATETIME,
    order_delivered_customer_date DATETIME,
    order_estimated_delivery_date DATETIME
);
''')

cursor.execute('''
CREATE TABLE olist_products (
    product_id VARCHAR(32) PRIMARY KEY,
    product_category_name VARCHAR(255),
    product_name_lenght FLOAT,
    product_description_lenght FLOAT,
    product_photos_qty FLOAT,
    product_weight_g FLOAT,
    product_length_cm FLOAT,
    product_height_cm FLOAT,
    product_width_cm FLOAT
);
''')

cursor.execute('''
CREATE TABLE olist_sellers (
    seller_id VARCHAR(32) PRIMARY KEY,
    seller_zip_code_prefix INT,
    seller_city VARCHAR(255),
    seller_state VARCHAR(2)
);
''')

cursor.execute('''
CREATE TABLE product_category_translation (
    product_category_name VARCHAR(255) PRIMARY KEY,
    product_category_name_english VARCHAR(255)
);
''')

#This saves the chnages to the databae.  Up unitl this point the executed SQL statement isn't stored, changes are not immediatley saved.
conn.commit()

print("Database and tables created successfully!")

Database and tables created successfully!

**STEP 2: Check Tables Created:**

Run the command to show the database tables created and the structure.

In [11]:

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for table_name in tables:
    print(f"Table: {table_name[0]}")
    cursor.execute(f"PRAGMA table_info({table_name[0]});")
    columns = cursor.fetchall()
    for col in columns:
        print(f"  Column: {col[1]}, Type: {col[2]}, NotNull: {col[3]}, DefaultVal: {col[4]}, PrimaryKey: {col[5]}")
    print("-" * 20)

Table: olist_customers
  Column: customer_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: customer_unique_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: customer_zip_code_prefix, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: customer_city, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: customer_state, Type: VARCHAR(2), NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_geolocation
  Column: geolocation_zip_code_prefix, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: geolocation_lat, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: geolocation_lng, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: geolocation_city, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: geolocation_state, Type: VARCHAR(2), NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_order_items
  Column: order_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: order_item_id, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 2
  Column: product_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: seller_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: shipping_limit_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: price, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: freight_value, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_order_payments
  Column: order_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: payment_sequential, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 2
  Column: payment_type, Type: VARCHAR(50), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: payment_installments, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: payment_value, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_order_reviews
  Column: review_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: order_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_score, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_comment_title, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_comment_message, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_creation_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_answer_timestamp, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_orders
  Column: order_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: customer_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_status, Type: VARCHAR(50), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_purchase_timestamp, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_approved_at, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_delivered_carrier_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_delivered_customer_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_estimated_delivery_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_products
  Column: product_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: product_category_name, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_name_lenght, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_description_lenght, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_photos_qty, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_weight_g, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_length_cm, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_height_cm, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_width_cm, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_sellers
  Column: seller_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: seller_zip_code_prefix, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: seller_city, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: seller_state, Type: VARCHAR(2), NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: product_category_translation
  Column: product_category_name, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: product_category_name_english, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------

**STEP 3: Upload Files:**

Run this box multiple times to upload the relevant csv files. Or drag the files across to the Files window from your desktop.

In [ ]:


from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

**STEP 4: Load CSV files into the database tables:**

This will populate the database tables with the data from the csv files.  No need to write INSERT statements.

You need to make sure the correct files are loaded into the corresponding tables.

In [3]:
import csv

def import_csv_to_table(csv_file, table_name):
    #opens the file aas read only 'r', doesn't allow the origianl csv to be changed.
    with open(csv_file, 'r', encoding='utf-8') as file:
        csv_reader = csv.reader(file)
        next(csv_reader)  # Skip header row if present
        for row in csv_reader:
            #? creates a placeholder for each column in the CSV file. ['?','?','?'] - Join makes it a string so it can then be inserted.
            # use of the '?' reduce risk of SQL injection
            placeholders = ', '.join(['?' for _ in row])
            #Assumes that the CSV and table have the same structure (this could be an issue) Would have to specify column names if different.
            sql = f"INSERT INTO {table_name} VALUES ({placeholders})"
            cursor.execute(sql, row)

# Import data from CSV files into the relevant table - Student_Table goes into student table.  teh import_csv_to_table is the function, passing the two values across.
try:
    import_csv_to_table('olist_customers_dataset.csv', 'olist_customers')
    import_csv_to_table('olist_geolocation_dataset.csv', 'olist_geolocation')
    import_csv_to_table('olist_order_items_dataset.csv', 'olist_order_items')
    import_csv_to_table('olist_order_payments_dataset.csv', 'olist_order_payments')
    import_csv_to_table('olist_orders_dataset.csv', 'olist_orders')
    import_csv_to_table('olist_products_dataset.csv', 'olist_products')
    import_csv_to_table('olist_sellers_dataset.csv', 'olist_sellers')
    import_csv_to_table('product_category_name_translation.csv', 'product_category_translation')
    conn.commit()
    print("Data imported successfully!")
except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback()  # Rollback changes if an error occurred

Data imported successfully!

**STEP 5: Check Data has loaded**

Query each database table and load the data into a dataframe and display the first 5 lines

In [4]:
import pandas as pd
# Query all three tables and load into pandas DataFrames
customers_df = pd.read_sql_query("SELECT * FROM olist_customers", conn)
location_df = pd.read_sql_query("SELECT * FROM olist_geolocation", conn)
orderItems_df = pd.read_sql_query("SELECT * FROM olist_order_items", conn)

#add in the other tables


# Show the first 5 lines of each DataFrame
print("Customers Table:")
print(customers_df.head(5))
print("\nLocations Table:")
print(location_df.head(5))
print("\nOrder Itmes Table:")
print(orderItems_df.head(5))

Customers Table:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

Locations Table:
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

Order Itmes Table:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

**ONLY RUN IF YOU NEED TO DELETE THE DATA IN THE TABLES**

If you run go back to **STEP 4** and re-run from there.

In [ ]:
# only run if you need to reset the tables without deleting the databae and starting again - then re-run the box previous box.
# Delete all data from the tables
cursor.execute("PRAGMA foreign_keys = OFF")
cursor.execute("DELETE FROM olist_customers")
cursor.execute("DELETE FROM olist_geolocation")
cursor.execute("DELETE FROM olist_order_items")
cursor.execute("DELETE FROM olist_order_payments")
cursor.execute("DELETE FROM olist_order_reviews")
cursor.execute("DELETE FROM olist_orders")
cursor.execute("DELETE FROM olist_products")
cursor.execute("DELETE FROM olist_sellers")
cursor.execute("DELETE FROM product_category_translation")
cursor.execute("PRAGMA foreign_keys = ON")

# Commit the changes
conn.commit()

conn.commit()
print("Database Deleted - restart.")

**STEP 6: SQL Select statements**

Run the following statements.  Please ask yoursefl the impact of each one before running.

In [5]:
import pandas as pd
#analyse the customer list. Think about how many customer, do they have duplicate names, take a look at the  data and bring some insight.

customers_df = pd.read_sql_query("SELECT COUNT(*) AS 'Number of customers' FROM olist_customers", conn)
customersCity_df = pd.read_sql_query("SELECT DISTINCT customer_city, COUNT(*) AS 'Number of customers per City' FROM olist_customers GROUP BY customer_city HAVING COUNT(*) >=100 ORDER BY COUNT(*) DESC", conn)

#What should the output be.
print(customers_df)
print(customersCity_df)

customersCity_df.to_csv('customersCity_df.csv', index=False)

   Number of customers
0                99441
          customer_city  Number of customers per City
0             sao paulo                         15540
1        rio de janeiro                          6882
2        belo horizonte                          2773
3              brasilia                          2131
4              curitiba                          1521
..                  ...                           ...
138            botucatu                           101
139         santa luzia                           100
140      patos de minas                           100
141    francisco morato                           100
142  balneario camboriu                           100

[143 rows x 2 columns]

In [8]:
#show number and value of orders for each customer

customersOrdersValue_df = pd.read_sql_query("""
SELECT olist_customers.customer_id,
       COUNT(DISTINCT olist_orders.order_id) AS total_orders,
       SUM(olist_order_items.price) AS total_order_value
FROM olist_customers, olist_orders, olist_order_items
WHERE olist_customers.customer_id = olist_orders.customer_id
AND olist_orders.order_id = olist_order_items.order_id
GROUP BY olist_customers.customer_id ORDER BY SUM(olist_order_items.price) DESC
""", conn)



print(customersOrdersValue_df)
customersOrdersValue_df.to_csv('customerOrdersValue_df.csv', index=False)

                            customer_id  total_orders  total_order_value
0      1617b1357756262bfa56ab541c47bc16             1           13440.00
1      ec5b2ba62e574342386871631fafd3fc             1            7160.00
2      c6e2731c5b391845f6800c97401a43a9             1            6735.00
3      f48d464a0baaea338cb25f816991ab1f             1            6729.00
4      3fd6777bbce08a352fddd04e4a7cc8f6             1            6499.00
...                                 ...           ...                ...
98661  d2c63ad286e3ca9dd69218008d61ff81             1               2.90
98662  184e8e8e48937145eb96c721ef1f0747             1               2.29
98663  a790343ca6f3fee08112d678b43aa7c5             1               2.20
98664  9f9d249355f63c5c1216a82b802452c1             1               0.85
98665  161b6d415e8b3413c6609c70cf405b5a             1               0.85

[98666 rows x 3 columns]

In [9]:
#where do the customers come from - location

cLocation_df = pd.read_sql_query("""
SELECT DISTINCT geolocation_city, COUNT(*) AS 'Customer City' FROM olist_geolocation GROUP BY geolocation_city ORDER BY COUNT(*) DESC
""", conn)
print(cLocation_df)
cLocation_df.to_csv('cLocation_df.csv', index=False)

cLocationCust_df = pd.read_sql_query("""
SELECT DISTINCT customer_city, COUNT(*) AS 'Customer City' FROM olist_customers GROUP BY customer_city ORDER BY COUNT(*) DESC
""", conn)
print(cLocationCust_df)

        geolocation_city  Customer City
0              sao paulo         135800
1         rio de janeiro          62151
2         belo horizonte          27805
3              são paulo          24918
4               curitiba          16593
...                  ...            ...
8006         abreulândia              1
8007              abatiá              1
8008      4o. centenario              1
8009  ...arraial do cabo              1
8010            * cidade              1

[8011 rows x 2 columns]
       customer_city  Customer City
0          sao paulo          15540
1     rio de janeiro           6882
2     belo horizonte           2773
3           brasilia           2131
4           curitiba           1521
...              ...            ...
4114         acucena              1
4115           acari              1
4116       acajutiba              1
4117   abdon batista              1
4118       abadiania              1

[4119 rows x 2 columns]

In [13]:
#look at which sellers are selling the most items

sellersSales_df = pd.read_sql_query("""
SELECT olist_sellers.seller_id AS 'Seller ID',
       COUNT(DISTINCT olist_orders.order_id) AS 'Total Orders',
       SUM(olist_order_items.price) AS 'Total Sales Value'
FROM olist_order_items, olist_orders, olist_sellers
WHERE olist_order_items.seller_id = olist_sellers.seller_id
AND olist_order_items.order_id = olist_orders.order_id
GROUP BY olist_sellers.seller_id
ORDER BY SUM(olist_order_items.price) DESC
""", conn)
print(sellersSales_df)
sellersSales_df.to_csv('sellersSales_df.csv', index=False)

#AVG order value for the seller
cSellersAVG_df = pd.read_sql_query("""
SELECT olist_sellers.seller_id AS 'Seller ID',
       COUNT(DISTINCT olist_orders.order_id) AS 'Total Orders',
       SUM(olist_order_items.price) AS 'Total Sales Value',
       AVG(olist_order_items.price) AS 'Average Sales Value'
FROM olist_order_items, olist_orders, olist_sellers
WHERE olist_order_items.seller_id = olist_sellers.seller_id
AND olist_order_items.order_id = olist_orders.order_id
GROUP BY olist_sellers.seller_id
ORDER BY AVG('olist_order_items.price') DESC
""", conn)

print(cSellersAVG_df)
cSellersAVG_df.to_csv('cSellersAVG_df.csv', index=False)

                             Seller ID  Total Orders  Total Sales Value
0     4869f7a5dfa277a7dca6462dcf3b52b2          1132          229472.63
1     53243585a1d6dc2643021fd1853d8905           358          222776.05
2     4a3ca9315b744ce9f8e9374361493884          1806          200472.92
3     fa1c13f2614d7b5c4749cbc52fecda94           585          194042.03
4     7c67e1448b00f6e969d365cea6b010ab           982          187923.89
...                                ...           ...                ...
3090  34aefe746cd81b7f3b23253ea28bef39             1               8.00
3091  702835e4b785b67a084280efca355756             1               7.60
3092  1fa2d3def6adfa70e58c276bb64fe5bb             1               6.90
3093  77128dec4bec4878c37ab7d6169d6f26             1               6.50
3094  cf6f6bc4df3999b9c6440f124fb2f687             1               3.50

[3095 rows x 3 columns]
                             Seller ID  Total Orders  Total Sales Value  \
0     ffff564a4f9085cd26170f4732393726            20            1426.30
1     fffd5413c0700ac820c7069d66d98c89            60            9062.30
2     ffeee66ac5d5a62fe688b9d26f83f534            14            1839.86
3     ffdd9f82b9a447f6f8d4b91554cc7dd3            18            2101.20
4     ffcfefa19b08742c5d315f2791395ee5             1              69.90
...                                ...           ...                ...
3090  003554e2dce176b5555353e4f3555ac8             1             120.00
3091  002100f778ceb8431b7a1020ff7ab48f            51            1234.50
3092  001e6ad469a905060d959994f1b41e4f             1             250.00
3093  001cca7ae9ae17fb1caed9dfb1094831           200           25080.03
3094  0015a82c2db000af6aaaf3ae2ecb0532             3            2685.00

      Average Sales Value
0               71.315000
1              148.562295
2              131.418571
3              105.060000
4               69.900000
...                   ...
3090           120.000000
3091            22.445455
3092           250.000000
3093           104.937364
3094           895.000000

[3095 rows x 4 columns]

In [14]:
#take a customer that has the most orders and pull out all the individual order items - is there any consistency - are they buying form the same categories every time.
customersOrders_df = pd.read_sql_query("""
SELECT olist_customers.customer_id,
       COUNT(DISTINCT olist_orders.order_id) AS total_orders,
       COUNT(olist_order_items.product_id) AS total_items_ordered,
       SUM(olist_order_items.price) AS total_order_value
FROM olist_customers, olist_orders, olist_order_items
WHERE olist_customers.customer_id = olist_orders.customer_id
AND olist_orders.order_id = olist_order_items.order_id
GROUP BY olist_customers.customer_id ORDER BY SUM(olist_order_items.price) DESC
""", conn)

print(customersOrders_df.head(5))

#get customer items fomr order
customerItems_df = pd.read_sql_query("""
SELECT olist_order_items.order_id AS 'Order ID',
       olist_order_items.product_id AS 'Product ID',
       olist_order_items.price AS 'Price',
       COUNT(*) OVER() AS 'Items Ordered',
       olist_products.product_category_name AS 'Product Category'
FROM olist_order_items, olist_orders, olist_customers, olist_products
WHERE olist_customers.customer_id = '1617b1357756262bfa56ab541c47bc16'
AND olist_customers.customer_id = olist_orders.customer_id
AND olist_orders.order_id = olist_order_items.order_id
AND olist_order_items.product_id = olist_products.product_id
ORDER BY olist_order_items.price DESC
""", conn)
print(customerItems_df)

                        customer_id  total_orders  total_items_ordered  \
0  1617b1357756262bfa56ab541c47bc16             1                    8
1  ec5b2ba62e574342386871631fafd3fc             1                    4
2  c6e2731c5b391845f6800c97401a43a9             1                    1
3  f48d464a0baaea338cb25f816991ab1f             1                    1
4  3fd6777bbce08a352fddd04e4a7cc8f6             1                    1

   total_order_value
0            13440.0
1             7160.0
2             6735.0
3             6729.0
4             6499.0
                           Order ID                        Product ID   Price  \
0  03caa2c082116e1d31e67e9ae3700499  5769ef0a239114ac3a854af00df129e4  1680.0
1  03caa2c082116e1d31e67e9ae3700499  5769ef0a239114ac3a854af00df129e4  1680.0
2  03caa2c082116e1d31e67e9ae3700499  5769ef0a239114ac3a854af00df129e4  1680.0
3  03caa2c082116e1d31e67e9ae3700499  5769ef0a239114ac3a854af00df129e4  1680.0
4  03caa2c082116e1d31e67e9ae3700499  5769ef0a239114ac3a854af00df129e4  1680.0
5  03caa2c082116e1d31e67e9ae3700499  5769ef0a239114ac3a854af00df129e4  1680.0
6  03caa2c082116e1d31e67e9ae3700499  5769ef0a239114ac3a854af00df129e4  1680.0
7  03caa2c082116e1d31e67e9ae3700499  5769ef0a239114ac3a854af00df129e4  1680.0

   Items Ordered Product Category
0              8   telefonia_fixa
1              8   telefonia_fixa
2              8   telefonia_fixa
3              8   telefonia_fixa
4              8   telefonia_fixa
5              8   telefonia_fixa
6              8   telefonia_fixa
7              8   telefonia_fixa

In [15]:
#How are customers paying - which payment methods are used the most

paymentMethods_df = pd.read_sql_query("""
SELECT olist_order_payments.payment_type AS 'Payment Method',
       COUNT(*) AS 'Number of Payments',
       ROUND(SUM(olist_order_payments.payment_value),2) AS 'Total Spent'
FROM olist_order_payments
GROUP BY olist_order_payments.payment_type
ORDER BY COUNT(*) DESC, ROUND(SUM(olist_order_payments.payment_value),2) DESC
""", conn)
print(paymentMethods_df)
paymentMethods_df.to_csv('paymentMethods_df.csv', index=False)

  Payment Method  Number of Payments  Total Spent
0    credit_card               76795  12542084.19
1         boleto               19784   2869361.27
2        voucher                5775    379436.87
3     debit_card                1529    217989.79
4    not_defined                   3         0.00

In [16]:
#if possible, look at the payment methods and location - Identify the area that spends the highest amount - you could look at hteh product categories as well.

paymentByLocation_df = pd.read_sql_query("""
SELECT olist_customers.customer_city AS 'City',
       olist_order_payments.payment_type AS 'Payment Method',
       COUNT(*) AS 'Number of Payments',
       ROUND(SUM(olist_order_payments.payment_value),2) AS 'Total Spent'
FROM olist_order_payments, olist_orders, olist_customers
WHERE olist_order_payments.order_id = olist_orders.order_id
AND olist_orders.customer_id = olist_customers.customer_id
GROUP BY olist_order_payments.payment_type, olist_customers.customer_city
ORDER BY SUM(olist_order_payments.payment_value) DESC
""", conn)

# Print formatted output
print(paymentByLocation_df)
paymentByLocation_df.to_csv('paymentByLocation_df.csv', index=False)

                         City Payment Method  Number of Payments  Total Spent
0                   sao paulo    credit_card               12226   1757931.79
1              rio de janeiro    credit_card                5525    942028.03
2                   sao paulo         boleto                2783    358042.07
3              belo horizonte    credit_card                2233    343387.39
4                    brasilia    credit_card                1693    291241.56
...                       ...            ...                 ...          ...
7494                   iguape        voucher                   1         1.65
7495          santo anastacio        voucher                   1         1.29
7496          antonio pereira        voucher                   1         0.92
7497  sao sebastiao de campos    credit_card                   1         0.19
7498                sao paulo    not_defined                   3         0.00

[7499 rows x 4 columns]

In [18]:
#Range of payment by location
paymentByLocationRange_df = pd.read_sql_query("""
SELECT olist_customers.customer_city AS 'City',
       olist_customers.customer_state AS 'State',
       olist_order_payments.payment_type AS 'Payment Method',
       COUNT(*) AS 'Number of Payments',
       SUM(olist_order_payments.payment_value) AS 'Total Spent',
       MAX(olist_order_payments.payment_value) AS 'Max Payment',
       MIN(olist_order_payments.payment_value) AS 'Min Payment',
       (MAX(olist_order_payments.payment_value) - MIN(olist_order_payments.payment_value)) AS 'Payment Range'
FROM olist_order_payments, olist_orders, olist_customers
WHERE olist_order_payments.order_id = olist_orders.order_id
AND olist_orders.customer_id = olist_customers.customer_id
GROUP BY olist_customers.customer_city, olist_customers.customer_state, olist_order_payments.payment_type
ORDER BY olist_customers.customer_state ASC, SUM(olist_order_payments.payment_value) DESC
""", conn)

# Round monetary values for better readability
paymentByLocationRange_df[['Total Spent', 'Max Payment', 'Min Payment', 'Payment Range']] = paymentByLocationRange_df[['Total Spent', 'Max Payment', 'Min Payment', 'Payment Range']].round(2)

# Print formatted output
paymentByLocationRange_df.to_csv('paymentByLocationRange_df.csv',index=False)
print(paymentByLocationRange_df)

                  City State Payment Method  Number of Payments  Total Spent  \
0           rio branco    AC    credit_card                  55     13349.94
1           rio branco    AC         boleto                  14      2871.68
2      cruzeiro do sul    AC         boleto                   2      1036.78
3           rio branco    AC        voucher                   4       706.85
4     senador guiomard    AC    credit_card                   1       446.18
...                ...   ...            ...                 ...          ...
7718         combinado    TO    credit_card                   1        54.63
7719              pium    TO    credit_card                   1        45.63
7720    tocantinopolis    TO         boleto                   1        38.12
7721        araguatins    TO        voucher                   1        33.77
7722       barrolandia    TO    credit_card                   1        28.77

      Max Payment  Min Payment  Payment Range
0         1251.70        43.34        1208.36
1          861.26        39.03         822.23
2          905.93       130.85         775.08
3          557.70        11.58         546.12
4          446.18       446.18           0.00
...           ...          ...            ...
7718        54.63        54.63           0.00
7719        45.63        45.63           0.00
7720        38.12        38.12           0.00
7721        33.77        33.77           0.00
7722        28.77        28.77           0.00

[7723 rows x 8 columns]

In [19]:
#What's the average order spend in the categories - show the category name in English

avgOrderSpendByCategory_df = pd.read_sql_query("""
SELECT olist_products.product_category_name AS 'Product Category',
       COUNT(DISTINCT olist_orders.order_id) AS 'Number of Orders',
       SUM(olist_order_items.price) AS 'Total Sales Value',
       ROUND(SUM(olist_order_items.price) / COUNT(DISTINCT olist_orders.order_id), 2) AS 'Average Order Spend'
FROM olist_order_items, olist_orders, olist_products
WHERE olist_order_items.order_id = olist_orders.order_id
AND olist_order_items.product_id = olist_products.product_id
GROUP BY olist_products.product_category_name
ORDER BY ROUND(SUM(olist_order_items.price) / COUNT(DISTINCT olist_orders.order_id), 2) DESC
""", conn)

# Print formatted output
print(avgOrderSpendByCategory_df.to_string(index=False))
avgOrderSpendByCategory_df.to_csv('avgOrderSpendByCategory_df.csv', index=False)

                              Product Category  Number of Orders  Total Sales Value  Average Order Spend
                                           pcs               181          222963.13              1231.84
                   portateis_casa_forno_e_cafe                75           47445.71               632.61
                            eletrodomesticos_2               234          113317.74               484.26
                     agro_industria_e_comercio               182           72530.47               398.52
                         instrumentos_musicais               628          191498.88               304.93
                               eletroportateis               630          190648.58               302.62
 portateis_cozinha_e_preparadores_de_alimentos                14            3968.53               283.47
                                telefonia_fixa               217           59583.00               274.58
              construcao_ferramentas_seguranca               167           40544.52               242.78
                                  climatizacao               253           55024.96               217.49
                             moveis_escritorio              1273          273960.70               215.21
                            relogios_presentes              5624         1205005.68               214.26
                                 moveis_quarto                95           20028.78               210.83
             construcao_ferramentas_construcao               748          144677.59               193.42
                                      pc_gamer                 8            1545.95               193.24
moveis_cozinha_area_de_servico_jantar_e_jardim               248           46328.37               186.81
                                    cool_stuff              3632          635290.85               174.91
                               casa_construcao               490           83088.12               169.57
                 industria_comercio_e_negocios               235           39669.61               168.81
             construcao_ferramentas_iluminacao               244           41080.00               168.36
            construcao_ferramentas_ferramentas                97           15903.95               163.96
                                   moveis_sala               422           68916.56               163.31
                                        musica                38            6034.35               158.80
                                    la_cuisine                13            2054.99               158.08
                       sinalizacao_e_seguranca               140           21509.23               153.64
                                    automotivo              3897          592720.11               152.10
                                consoles_games              1062          157465.22               148.27
                                 casa_conforto               397           58572.04               147.54
                                         audio               350           50688.50               144.82
                                         bebes              2885          411764.89               142.73
                                  beleza_saude              8836         1258681.34               142.45
                            seguros_e_servicos                 2             283.29               141.65
                            ferramentas_jardim              3518          485256.46               137.94
                        informatica_acessorios              6689          911954.32               136.34
                              malas_acessorios              1034          140429.98               135.81
                 construcao_ferramentas_jardim               194           25715.89               132.56
                                 esporte_lazer              7720          988048.97               127.99
                                    perfumaria              3162          399124.87               126.23
                                      pet_shop              1710          214315.41               125.33
                                    brinquedos              3886          483946.60               124.54
                                                            1451          179535.28               123.73
                                         artes               202           24202.64               119.82
                             artigos_de_festas                39            4485.18               115.00
                     moveis_colchao_e_estofado                38            4368.08               114.95
                              moveis_decoracao              6449          729762.49               113.16
                               cama_mesa_banho              9417         1036988.68               110.12
                         utilidades_domesticas              5884          632248.66               107.45
                                     cine_foto                65            6933.46               106.67
                              eletrodomesticos               764           80171.53               104.94
                                  dvds_blu_ray                59            5999.39               101.68
                                  market_place               280           28378.47               101.35
                                     papelaria              2311          230943.23                99.93
                              fashion_calcados               240           23562.77                98.18
                       fashion_roupa_masculina               112           10797.82                96.41
                      tablets_impressao_imagem                79            7528.41                95.30
                        livros_interesse_geral               512           46856.88                91.52
                             livros_importados                53            4639.85                87.54
                   fashion_bolsas_e_acessorios              1864          152823.54                81.99
                            artes_e_artesanato                23            1814.01                78.87
                fashion_underwear_e_moda_praia               121            9541.55                78.86
                               fashion_esporte                27            2119.51                78.50
                                     telefonia              4199          323667.53                77.08
                                       bebidas               297           22428.70                75.52
                               livros_tecnicos               260           19096.06                73.45
                        fashion_roupa_feminina                39            2803.64                71.89
                 fashion_roupa_infanto_juvenil                 8             569.85                71.23
                              artigos_de_natal               128            8800.82                68.76
                             alimentos_bebidas               227           15179.48                66.87
                                     alimentos               450           29393.41                65.32
                                   eletronicos              2550          160246.74                62.84
                             cds_dvds_musicais                12             730.00                60.83
                               fraldas_higiene                27            1567.59                58.06
                                        flores                29            1110.04                38.28
                               casa_conforto_2                24             760.27                31.68

In [20]:
#get categories in English

avgOrderSpendByCategory_df = pd.read_sql_query("""
SELECT pct.product_category_name_english AS 'Product Category',
       COUNT(DISTINCT olist_orders.order_id) AS 'Number of Orders',
       SUM(olist_order_items.price) AS 'Total Sales Value',
       ROUND(SUM(olist_order_items.price) / COUNT(DISTINCT olist_orders.order_id), 2) AS 'Average Order Spend'
FROM olist_order_items, olist_orders, olist_products, product_category_translation pct
WHERE olist_order_items.order_id = olist_orders.order_id
AND olist_order_items.product_id = olist_products.product_id
AND olist_products.product_category_name = pct.product_category_name
GROUP BY pct.product_category_name_english
ORDER BY ROUND(SUM(olist_order_items.price) / COUNT(DISTINCT olist_orders.order_id), 2) DESC
""", conn)

# Print formatted output
print(avgOrderSpendByCategory_df.to_string(index=False))

                       Product Category  Number of Orders  Total Sales Value  Average Order Spend
                              computers               181          222963.13              1231.84
  small_appliances_home_oven_and_coffee                75           47445.71               632.61
                      home_appliances_2               234          113317.74               484.26
             agro_industry_and_commerce               182           72530.47               398.52
                    musical_instruments               628          191498.88               304.93
                       small_appliances               630          190648.58               302.62
                        fixed_telephony               217           59583.00               274.58
              construction_tools_safety               167           40544.52               242.78
                       air_conditioning               253           55024.96               217.49
                       office_furniture              1273          273960.70               215.21
                          watches_gifts              5624         1205005.68               214.26
                      furniture_bedroom                95           20028.78               210.83
        construction_tools_construction               748          144677.59               193.42
kitchen_dining_laundry_garden_furniture               248           46328.37               186.81
                             cool_stuff              3632          635290.85               174.91
                      home_construction               490           83088.12               169.57
         industry_commerce_and_business               235           39669.61               168.81
              construction_tools_lights               244           41080.00               168.36
                costruction_tools_tools                97           15903.95               163.96
                  furniture_living_room               422           68916.56               163.31
                                  music                38            6034.35               158.80
                             la_cuisine                13            2054.99               158.08
                 signaling_and_security               140           21509.23               153.64
                                   auto              3897          592720.11               152.10
                         consoles_games              1062          157465.22               148.27
                           home_confort               397           58572.04               147.54
                                  audio               350           50688.50               144.82
                                   baby              2885          411764.89               142.73
                          health_beauty              8836         1258681.34               142.45
                  security_and_services                 2             283.29               141.65
                           garden_tools              3518          485256.46               137.94
                  computers_accessories              6689          911954.32               136.34
                    luggage_accessories              1034          140429.98               135.81
               costruction_tools_garden               194           25715.89               132.56
                         sports_leisure              7720          988048.97               127.99
                              perfumery              3162          399124.87               126.23
                               pet_shop              1710          214315.41               125.33
                                   toys              3886          483946.60               124.54
                                    art               202           24202.64               119.82
                         party_supplies                39            4485.18               115.00
      furniture_mattress_and_upholstery                38            4368.08               114.95
                        furniture_decor              6449          729762.49               113.16
                         bed_bath_table              9417         1036988.68               110.12
                             housewares              5884          632248.66               107.45
                             cine_photo                65            6933.46               106.67
                        home_appliances               764           80171.53               104.94
                           dvds_blu_ray                59            5999.39               101.68
                           market_place               280           28378.47               101.35
                             stationery              2311          230943.23                99.93
                          fashion_shoes               240           23562.77                98.18
                  fashion_male_clothing               112           10797.82                96.41
                 tablets_printing_image                79            7528.41                95.30
                 books_general_interest               512           46856.88                91.52
                         books_imported                53            4639.85                87.54
               fashion_bags_accessories              1864          152823.54                81.99
                  arts_and_craftmanship                23            1814.01                78.87
                fashion_underwear_beach               121            9541.55                78.86
                          fashion_sport                27            2119.51                78.50
                              telephony              4199          323667.53                77.08
                                 drinks               297           22428.70                75.52
                        books_technical               260           19096.06                73.45
                 fashio_female_clothing                39            2803.64                71.89
              fashion_childrens_clothes                 8             569.85                71.23
                     christmas_supplies               128            8800.82                68.76
                             food_drink               227           15179.48                66.87
                                   food               450           29393.41                65.32
                            electronics              2550          160246.74                62.84
                      cds_dvds_musicals                12             730.00                60.83
                    diapers_and_hygiene                27            1567.59                58.06
                                flowers                29            1110.04                38.28
                         home_comfort_2                24             760.27                31.68