<a href="https://colab.research.google.com/github/p-tech/wbs-dm/blob/main/NO_Header_Add_Column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Import pandas

In [ ]:
import pandas as pd

# Install pandas if not already installed
!pip install pandas

# Working with CSV files:
Load a mnist_test.csv file into a dataframe - labelled as df

In [2]:
df = pd.read_csv('People_data_noheader.csv')

Show the first 5 lines of the csv file.

In [ ]:
df.head(10)

Modify the above line of code to show the first 15 lines of the dataframe.
Modify the above line of code to shwo the last 15 lines of the dataframe

Question:<br/>What do you observe about the data?

Load the same data into a new dataframe with default column names

In [4]:
df_nh = pd.read_csv('People_data_noheader.csv', header=None)

In [ ]:
df_nh.head()

Load the data with PreSet assigned Column Names:

In [ ]:
headers = ["Firstname", "Surname", "age", "salary", "occupation", "height"]
df_headers = pd.read_csv('People_data_noheader.csv', names=headers)

df_headers.head(10)

In [ ]:
# prompt: calculate the average salary

# Calculate the average salary
average_salary = df_headers['salary'].mean()
print(f"The average salary is: {average_salary}")

In [ ]:

# Calculate the average salary
average_salary = df_headers['salary'].mean()
print(f"The average salary is: {average_salary}")

# Add a new column 'High Value' and set it to 1 where salary > 40000
df_headers['High Value'] = 0  # Initialize the column with 0
df_headers.loc[df_headers['salary'] > 40000, 'High Value'] = 1

print(df_headers.head(20))

Modify the code to calculate the average age / median age / median salary

How would you calculate a average height?

In [ ]:
# Count the number of people with the occupation "copy"
hv_count = df_headers[df_headers['High Value'] == 1].shape[0]

print(f"The number of people with the High Salary is: {hv_count}")

hv_average = df_headers[df_headers['High Value'] == 1]['salary'].mean()
print(f"The average salary of people with the High Salary is: {hv_average}")

In [ ]:
# Count the number of people with the occupation "copy"
lv_count = df_headers[df_headers['High Value'] == 0].shape[0]

print(f"The number of people with the Low Salary is: {lv_count}")

lv_average = df_headers[df_headers['High Value'] == 0]['salary'].mean()
print(f"The average salary of people with the Low Salary is: {lv_average}")

In [ ]:
# prompt: export dataframe to csv

# Export the dataframe to a CSV file
df_headers.to_csv('exported_people_data.csv', index=False)