<a href="https://colab.research.google.com/github/p-tech/wbs-dm/blob/main/Cardinality/1_1_Cardinality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3

# Connect to the database (or create one)
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

In [9]:
# Create tables
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Person (
        id INTEGER PRIMARY KEY,
        name TEXT
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS Passport (
        id INTEGER PRIMARY KEY,
        person_id INTEGER UNIQUE,
        passport_number TEXT UNIQUE,
        FOREIGN KEY (person_id) REFERENCES Person (id)
    )
""")

# Insert data
cursor.execute("INSERT INTO Person (id, name) VALUES (1, 'Alice')")
cursor.execute("INSERT INTO Passport (id, person_id, passport_number) VALUES (1, 1, 'P123456')")
conn.commit()

In [10]:
cursor.execute("""
    SELECT Person.name, Passport.passport_number
    FROM Person
    JOIN Passport ON Person.id = Passport.person_id
""")
print(cursor.fetchall())  # Output: [('Alice', 'P123456')]

[('Alice', 'P123456')]