<a href="https://colab.research.google.com/github/p-tech/wbs-dm/blob/main/Cardinality/1_M_Cardinalty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

# Connect to the database (or create one)
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

In [2]:
# Create tables
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Customer (
        id INTEGER PRIMARY KEY,
        name TEXT
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS Orders (
        id INTEGER PRIMARY KEY,
        customer_id INTEGER,
        order_date TEXT,
        FOREIGN KEY (customer_id) REFERENCES Customer (id)
    )
""")

# Insert data
cursor.execute("INSERT INTO Customer (id, name) VALUES (1, 'Bob')")
cursor.execute("INSERT INTO Orders (id, customer_id, order_date) VALUES (1, 1, '2025-02-25')")
cursor.execute("INSERT INTO Orders (id, customer_id, order_date) VALUES (2, 1, '2025-02-26')")
conn.commit()

In [3]:
cursor.execute("""
    SELECT Customer.name, Orders.order_date
    FROM Customer
    JOIN Orders ON Customer.id = Orders.customer_id
""")
print(cursor.fetchall())  # Output: [('Bob', '2025-02-25'), ('Bob', '2025-02-26')]

[('Bob', '2025-02-25'), ('Bob', '2025-02-26')]